/*Main Colors*/
/*Gray Scale*/
/*Radius*/
.form-container {
  width: 60vw;
  height: 80vh;
  margin: 10vh auto 10vh auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: 0px;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container .reg {
  text-align: center;
}

.welcome-side {
  width: 40%;
  height: 100%;
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: rgb(255, 242, 84);
  background: linear-gradient(0deg, rgb(255, 242, 84) 21%, rgb(235, 192, 21) 64%);
  border-bottom-left-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
  text-align: center;
}

.login-side {
  width: 35%;
  height: 100%;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border: 0px;
  border-bottom-right-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/*Button*/
.btn-register {
  margin: 0%;
  border: 3px solid #282828;
  text-decoration: none;
  padding: 0.5rem;
  background: transparent;
  outline: none;
  border-radius: 1.5625rem;
  align-content: center;
  transition: all 0.3s ease-in-out;
}
.btn-register:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.3125rem;
}

.btn-login {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0px transparent;
  width: 75%;
  padding: 0.5rem;
  background: #ebc015;
  outline: none;
  border-radius: 1.5625rem;
  align-content: center;
  transition: all 0.3s ease-in-out;
}
.btn-login:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.3125rem;
  background-color: #ffdb4d;
}

.spacing {
  margin-top: 3rem;
}

.text-input {
  outline: none;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #dcdcdc;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  transition: all 0.3s ease-in-out;
}
.text-input:focus {
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #ffdb4d;
}
.text-input::-moz-placeholder {
  color: #616161;
}
.text-input::placeholder {
  color: #616161;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.logo-title {
  color: #282828;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 2%;
}

.login-feedback {
  color: red;
  display: none;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
  body {
    background: linear-gradient(0deg, rgb(255, 242, 84) 21%, rgb(235, 192, 21) 64%);
  }
  .form-container {
    border-radius: 0%;
    width: 100%;
    margin: 10% auto 10% auto;
    height: auto;
    background: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    flex-direction: column;
  }
  .welcome-side {
    width: 80%;
    height: auto;
    margin: 0%;
    background: transparent;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .login-side {
    width: 80%;
    height: auto;
    border: 0px;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 0.625rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
  .logo {
    width: 3.9rem;
    height: 3.9rem;
  }
  .logo-title {
    color: #282828;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 2%;
  }
  .bottom-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1150px) {
  .form-container {
    width: 80%;
  }
}